<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="PdfDocumentUserRegistryCleanup" Guid="*">
        <RegistryKey
          Root="HKCU"
          Key="Software\Legir\InstallerCleanup"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="1"
            KeyPath="yes"
          />
        </RegistryKey>
        <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Classes\Legir.pdf"
          Action="removeOnInstall"
        />
        <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Classes\Applications\Legir.exe"
          Action="removeOnInstall"
        />
        <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Legir\Capabilities"
          Action="removeOnInstall"
        />
      </Component>
      <Component Id="PdfDocumentDefaultIcon" Guid="*">
        <RegistryKey
          Root="HKMU"
          Key="Software\Legir\Capabilities"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name="ApplicationName"
            Type="string"
            Value="Legir"
          />
          <RegistryValue
            Name="ApplicationDescription"
            Type="string"
            Value="Lightweight AI PDF Reader"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Legir\Capabilities\FileAssociations"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name=".pdf"
            Type="string"
            Value="Legir.pdf"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\RegisteredApplications"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name="Legir"
            Type="string"
            Value="Software\Legir\Capabilities"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Legir.pdf"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="Legir PDF Document"
            KeyPath="yes"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Legir.pdf\DefaultIcon"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="[INSTALLDIR]pdf-document.ico,0"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Legir.pdf\shell"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="open"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Legir.pdf\shell\open\command"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="&quot;[INSTALLDIR]Legir.exe&quot; &quot;%1&quot;"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\.pdf\OpenWithProgids"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name="Legir.pdf"
            Type="string"
            Value=""
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Applications\Legir.exe"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name="FriendlyAppName"
            Type="string"
            Value="Legir"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Applications\Legir.exe\DefaultIcon"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="[INSTALLDIR]pdf-document.ico,0"
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Applications\Legir.exe\SupportedTypes"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Name=".pdf"
            Type="string"
            Value=""
          />
        </RegistryKey>
        <RegistryKey
          Root="HKMU"
          Key="Software\Classes\Applications\Legir.exe\shell\open\command"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes"
        >
          <RegistryValue
            Type="string"
            Value="&quot;[INSTALLDIR]Legir.exe&quot; &quot;%1&quot;"
          />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
